/* .floating-btn {
    position: absolute;
    width: 200px;
    height: auto;
    font-size: x-large;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
} */

:root {
    --focus_color: #57b9ff;
    --error_color: #ff5757;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
}

body {
    height: 100vh;
    display: grid;
    align-items: center;
    justify-items: center;
}

.form {
    display: grid;
    gap: 16px;
    padding: 32px;
    background-color: #fff;
    border-radius: 16px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
}
.title {
    font-size: 24px;
    margin-bottom: 16px;
}

label {
    position: relative;
    display: block;
}

input {
    height: 40px;
    width: 100%;
    outline: none;
    padding: 0 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input:focus,
label.filed input {
    border-color: var(--focus_color);
}

label.error input,
label.fail input,
label.bad input {
    border-color: var(--error_color);
}

input:focus + span,
label.filed span {
    cursor: default;
    top: -11px;
    left: 8px;
    font-size: 14px;
    color: var(--focus_color);
}

label.error span,
label.fail span,
label.bad span {
    color: var(--error_color);
}



span {
    cursor: text;
    position: absolute;
    left: 16px;
    top: 19%;
    color: #555;
    background-color: #fff;
    transition: all 0.3s ease-in-out;
    padding: 0 4px;
}

.button {
    cursor: pointer;
    justify-self: end;
    background-color: var(--focus_color);
    color: #fff;
    padding: 10px 24px;
    border-radius: 4px;
    margin-top: 8px;
}

.button.disable {
    pointer-events: none;
    background-color: #999;
}

.input-error {
    color: var(--error_color);
    font-size: 14px;
    margin-top: 4px;
    display: none;
}

.input-error.view {
    display: block;
}

.input-fail {
    color: var(--error_color);
    font-size: 14px;
    margin-top: 4px;
    display: none;
}

.input-fail.kind {
    display: block;
}

.input-error-fail {
    color: var(--error_color);
    font-size: 14px;
    margin-top: 4px;
    display: none;
}

.input-error-fail.sort {
    display: block;
}